.advantage {
  padding: 146px 0;
  background: #f8f9fc;

  @media (max-width: 1199px) {
    padding: 102px 0 145px;
  }

  @media (max-width: 767px) {
    padding: 44px 0 150px;
  }
}

.advantage .container {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.advantage__list {
  padding: 0;
  margin-left: 60px;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: 31% 22% 31%;
  grid-template-rows: 1fr 1fr;
  gap: 0 60px;
  grid-auto-flow: row;
  grid-template-areas:
    "area simulators parking"
    "сomfort simulators practice";

  @media (max-width: 1199px) {
    margin-left: 0;
    gap: 0 31px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28.5% 59.6% 27.8%;
    grid-template-areas:
      "area parking"
      "simulators simulators"
      "сomfort practice";
  }

  @media (max-width: 767px) {
    margin-left: 0;
    gap: 0 31px;
    grid-template-columns: 1fr;
    grid-template-rows: 20.8% 21.6% 26.5% 25.4% 19%;
    grid-template-areas:
      "area"
      "parking"
      "simulators"
      "сomfort"
      "practice";
  }
}

.advantage__item-wrapper {
  text-align: start;
  margin-left: 28px;
  margin-top: -2px;

  @media (max-width: 767px) {
    width: 78%;
    margin: 0 auto;
    text-align: center;
  }
}

.advantage__item-number-wrapper {
  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.advantage__item {
  display: flex;
}

.advantage__title {
  margin: 0 0 51px 10px;
  text-align: center;

  @media (max-width: 1199px) {
    margin: 0 0 44px -22px;
  }

  @media (max-width: 767px) {
    margin: 0 0 46px -17px;
  }
}

.advantage__item-number {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 85%;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1199px) {
    font-size: 58px;
    margin-top: 3px;
  }
}

.advantage__item-number-text {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2e35ac;
  text-align: start;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantage__item-subtitle {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #102654;

  @media (max-width: 1199px) {
    font-size: 20px;
    margin: 1px 0 2px;
  }
}

.advantage__item-number-info {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #102654;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.area {
  grid-area: area;
  padding-left: 21px;

  @media (max-width: 1199px) {
    padding-left: 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.parking {
  grid-area: parking;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.comfort {
  grid-area: сomfort;
  align-items: flex-end;
  padding-left: 21px;
  border-top: 2px solid rgba(209, 10, 66, 0.2);

  & .advantage__item-number-info {
    @media (max-width: 767px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  & .advantage__item-number-wrapper {
    margin-bottom: -5px;

    @media (max-width: 767px) {
      margin-bottom: 6px;
    }
  }

  & .advantage__item-wrapper {
    margin-bottom: -5px;
  }

  @media (max-width: 1199px) {
    border: none;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
  }
}

.practice {
  grid-area: practice;
  align-items: flex-end;
  border-top: 2px solid rgba(209, 10, 66, 0.2);

  & .advantage__item-number-wrapper {
    margin-bottom: -5px;
  }

  & .advantage__item-wrapper {
    margin-bottom: -5px;
  }

  & .advantage__item-subtitle {
    @media (max-width: 767px) {
      margin: 11px 0 4px;
    }
  }

  @media (max-width: 1199px) {
    border: none;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.simulators {
  background-color: #1c3374;
  grid-area: simulators;
  display: row;
  flex-direction: column;
  margin-top: 5px;
  padding: 35px 35px 41px 35px;

  @media (max-width: 1199px) {
    width: 66%;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.advantage__item-title {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 110%;
  color: #ffffff;
  margin-top: 15px;

  @media (max-width: 1199px) {
    line-height: 100%;
    margin: 0;
  }

  @media (max-width: 767px) {
    margin: 5px 0 -6px;
  }
}

.advantage__item-view {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;

  @media (max-width: 1199px) {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.advantage__item-description {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-top: 13px;
  }

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}
