.header {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  padding: 30px 0 51px 0;

  @media (max-width: 1199px) {
    padding: 34px 0 62px;
  }

  @media (max-width: 767px) {
    padding: 16px 0 35px;
  }
}
