.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1199px) {
    margin-bottom: 9px;
  }

  & a {
    z-index: 2;
  }
}

.header-top__phone-wrapper {
  display: flex;
  flex-direction: column;

  & a {
    margin-bottom: 10px;
  }
}

.header-top__logo {
  margin: 0;
  margin-right: 20px;

  @media (max-width: 1199px) {
    margin: -7px 20px 0 -2px;
    width: 82px;
    height: 17px;
  }

  @media (max-width: 767px) {
    margin: 0 20px 0 0;
    width: 69px;
    height: 24px;
  }
}

.header-top__phone {
  margin-right: 1px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 23px;
    line-height: 29px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 24px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: underline;
  }
}
