.reviews {
  position: relative;
  background-color: #ffffff;
  padding: 0 0 119px;
  width: 683px;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    padding: 0 0 100px;
    width: 80%;
  }

  @media (max-width: 767px) {
    padding: 0 14px 70px;
  }
}

.reviews__title {
  margin: 39px 0 37px 9px;
  text-align: center;
  margin-left: 9px;

  @media (max-width: 1199px) {
    margin: 0 0 39px -4px;
  }

  @media (max-width: 767px) {
    margin: 0 0 42px -4px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  list-style-type: none;
  min-width: 0;
}

.reviews__item {
  position: relative;
  padding: 62px 62px 56px 62px;
  display: flex;
  justify-content: space-between;
  background-color: #1c3374;

  @media (max-width: 1199px) {
    padding: 62px 66px 56px;
  }

  @media (max-width: 767px) {
    padding: 40px 27px 33px;
  }
}

.reviews__description {
  width: 328px;
  margin-left: 10px;

  @media (max-width: 1199px) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.reviews__description-subtitle {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 88%;
  color: #ffffff;
  margin-bottom: 17px;

  @media (max-width: 767px) {
    width: min-content;
    margin: 12px auto 23px 99px;
    line-height: 119%;
  }
}

.reviews__description-info {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.reviews__user-image img {
  @media (max-width: 767px) {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 68px;
    height: 68px;
  }
}

.reviews__button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 52%;
  left: -12px;
  transform: translate(0%, -50%);
  z-index: 1;
  cursor: pointer;

  @media (max-width: 1199px) {
    left: -49px;
    top: 49%;
  }

  @media (max-width: 767px) {
    left: -37px;
    top: 51%;
  }
}

.reviews__button-prev,
.reviews__button-next {
  border: none;
  background-color: inherit;
}

.reviews__button-prev:hover,
.reviews__button-next:hover {
  & svg {
    width: 55px;
    height: 55px;
    transition: 0.3s;
    stroke: #5c5c5c;
  }
}

.reviews__button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 52%;
  right: 0;
  transform: translate(25%, -50%);
  z-index: 1;
  cursor: pointer;

  @media (max-width: 1199px) {
    right: -6%;
    top: 49%;
  }

  @media (max-width: 767px) {
    right: -25px;
    top: 51%;
  }
}

.reviews__button-prev svg {
  position: absolute;
  stroke: #afafaf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }
}

.reviews__button-next svg {
  position: absolute;
  stroke: #afafaf;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(180deg);

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }
}

.reviews-swiper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 560px;

  @media (max-width: 1199px) {
    max-width: 567px;
  }

  @media (max-width: 767px) {
    max-width: inherit;
  }
}
